#nav-container {
    display: flex;
    flex-direction: column;
}

.topNav {
    display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-content: space-around;
}

/* .nav-wrapper {

} */


.app-title {
    border: black;
}



